.wrapper {
  width: 272px;
  height: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: 80px;
  left: 20px;
  background-color: white;
}

.text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170.23%;
}

.button {
  width: 272px !important;
  align-items: start !important;
  justify-content: flex-start !important;
  border-color:  transparent !important;
  border-radius: 0px !important;
}

.button-text {
  padding-left: 12px;
}
